body{
    background-color: ivory;
}

h1, h3, p{
    font-family: sans-serif;
}

.myNotes{
    max-height: 20rem;
    overflow: scroll;
    width: 23%;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 0.5em;
    padding-top: 1rem;
}

#submitButton{
    padding: 1rem;
    font-size: 1rem;
    background-color: gainsboro;
}

#submitButton:hover{
    background-color: bisque;
}

.deleteButton{
    margin-top: 1rem 0.5rem;
    font-size: 1rem;
    color: white;
    background-color: red;
}
.deleteButton:hover{
    background-color: crimson;
}

.editButton{
    margin: 1rem 0.5rem;
    font-size: 1rem;
    background-color: yellow;
}
.editButton:hover{
    background-color: gold;
}